[Title, max 50 characters]

* changes to functionality and/or problem solved:

    [Details, max 72 characters per line]

* subroutines affected:

    [Details, max 72 characters per line]

* dependencies:

    [Details, max 72 characters per line]

* changes to required input:

    [Details, max 72 characters per line]

* status:

    [Details, max 72 characters per line]

